description "codecheck test running server AKA whale"
env PAPERTRAIL_HOST={{papertrail_host}}
env DOCKER_IMAGE_NAME={{docker_image}}
env DOCKER_IMAGE_VERSION={{docker_tag}}

start on startup
stop on runlevel [!2345]

exec forever start --uid "whale" -m 1 {{source_path}}/server.js
