_____/\\\\\\\\\_____/\\\______________/\\\_____/\\\\\\\\\\\___        
 ___/\\\\\\\\\\\\\__\/\\\_____________\/\\\___/\\\/////////\\\_       
  __/\\\/////////\\\_\/\\\_____________\/\\\__\//\\\______\///__      
   _\/\\\_______\/\\\_\//\\\____/\\\____/\\\____\////\\\_________     
    _\/\\\\\\\\\\\\\\\__\//\\\__/\\\\\__/\\\________\////\\\______    
     _\/\\\/////////\\\___\//\\\/\\\/\\\/\\\____________\////\\\___   
      _\/\\\_______\/\\\____\//\\\\\\//\\\\\______/\\\______\//\\\__  
       _\/\\\_______\/\\\_____\//\\\__\//\\\______\///\\\\\\\\\\\/___ 
        _\///________\///_______\///____\///_________\///////////_____
